<div class="flex">
  <div>
    <img src="images/phoenix.png" />
  </div>
  <div>
    <h1>Welcome to NorthBy</h1>
    <h2>A premium in sight and sound!</h2>
    <button>Learn More</button>
  </div>
</div>
